@*Microsoft. 2024. Work with forms in ASP.NET Core MVC, 27 September 2024. [Online]. Available at: https://learn.microsoft.com/aspnet/core/mvc/views/working-with-forms [Accessed 20 November 2025].*@
@*Microsoft. 2024. Model validation in ASP.NET Core, 28 August 2024. [Online]. Available at: https://learn.microsoft.com/aspnet/core/mvc/models/validation [Accessed 20 September 2025].*@
@*Microsoft. 2024. Tag Helpers in ASP.NET Core, 5 March 2024. [Online]. Available at: https://learn.microsoft.com/aspnet/core/mvc/views/tag-helpers/intro [Accessed 20 September 2025].*@


@model ST10085639_PROG6212_CMCS.Models.User

<h2>Add New User</h2>

<form asp-action="AddUser" method="post">
    <input asp-for="FirstName" placeholder="First Name" /><br/>
    <input asp-for="LastName" placeholder="Last Name" /><br />
    <input asp-for="Email" placeholder="Email" /><br />
    <input asp-for="Password" placeholder="Password" type="password" /><br />
    <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" /><br />
    <input asp-for="Role" placeholder="Role" /><br />
    <button type="submit">Add User</button>
</form>
 
