@model ST10085639_PROG6212_CMCS.Models.User

<h2>Add New User</h2>

<form asp-action="AddUser" method="post">
    <input asp-for="FirstName" placeholder="First Name" /><br/>
    <input asp-for="LastName" placeholder="Last Name" /><br />
    <input asp-for="Email" placeholder="Email" /><br />
    <input asp-for="Password" placeholder="Password" type="password" /><br />
    <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" /><br />
    <input asp-for="Role" placeholder="Role" /><br />
    <button type="submit">Add User</button>
</form>
 
