@*Microsoft. 2024. Razor synatx reference for ASP.NET Core, 27 September 2024. [Online]. Available at: https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-10.0 [Accessed 20 November 2025].*@
@*Microsoft. 2024. Language Integrated Query (LINQ), 8 August 2024. [Online]. Available at: https://learn.microsoft.com/dotnet/csharp/linq/ [Accessed 20 November 2025].*@
@*Microsoft. 2024. Razor Pages UI: Tables and display templates, 21 October 2024. [Online]. Available at: https://learn.microsoft.com/aspnet/core/mvc/views/working-with-html [Accessed 20 November 2025].*@


@model IEnumerable<ST10085639_PROG6212_CMCS.Models.Claim>

    <h2>Approved Claims for Payment</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Lecturer</th>
                <th>Hours</th>
                <th>Total Amount</th>
                <th>Invoice</th>
            </tr>
        </thead>

    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.LecturerName</td>
                <td>@claim.HoursWorked</td>
                <td>@claim.TotalAmount.ToString("C")</td>
                <td>
                    <a href="/HR/Invoice/@claim.ClaimID" class="btn btn-primary">
                        Generate Invoice
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>