@model ST10085639_PROG6212_CMCS.Models.User

<h2>Edit User</h2>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="ID" />
    <input asp-for="FirstName" /><br />
    <input asp-for="LastName" /><br />
    <input asp-for="Email" /><br />
    <input asp-for="Password" type="password" /><br />
    <input asp-for="ConfirmPassword" type="password" /><br />
    <input asp-for="Role" /><br />
    <button type="submit">Save Changes</button>
</form>