@*Microsoft. 2024. Strongly typed views in ASP.NET Core MVC, 17 June 2024. [Online]. Available at: https://learn.microsoft.com/aspnet/core/mvc/views/strongly-typed [Accessed 20 November 2025].*@
@*Microsoft. 2025. Model binding in ASP.NET Core, 19 July 2025. [Online]. Available at: https://learn.microsoft.com/aspnet/core/mvc/models/model-binding [Accessed 20 September 2025].*@

@model ST10085639_PROG6212_CMCS.Models.User

<h2>Edit User</h2>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="ID" />
    <input asp-for="FirstName" /><br />
    <input asp-for="LastName" /><br />
    <input asp-for="Email" /><br />
    <input asp-for="Password" type="password" /><br />
    <input asp-for="ConfirmPassword" type="password" /><br />
    <input asp-for="Role" /><br />
    <button type="submit">Save Changes</button>
</form>